.loader {
    display: flex;
    align-items: center;
    height: 60vh;
  }
  
  .spinner {
    border: 8px solid #4d4c4c; /* Light gray */
    border-top: 8px solid #008f13; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }